.home-article {
  z-index: 1;

  width: 100%;
  height: 100vw;

  display: block;

  .hero-container {
    width: 100%;
    height: 100%;

    .hero-image {
      .images {
        width: 100%;
        height: 100vw;

        margin-top: 10vh;
        background-image: url('../../assets/images/front.png'),
          url('../../assets/images/mammoth.png'),
          url('../../assets/images/back.png'),
          url('../../assets/images/sky.png');
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: cover, 10%, cover, 350%;
        background-position: center center, 79% 35%, center center, 0 0;

        animation: hero-image 40s linear infinite;

        position: relative;
      }

      @keyframes hero-image {
        0% {
          background-size: cover, 8%, cover, 350%;
          background-position: center center, 79% 36.5%, center center, -175vw 0;
        }
        20% {
          background-position: center center, 50.5% 38%, center center, -175vw 0;
        }
        100% {
          background-size: cover, 35%, cover, 350%;
          background-position: center center, -60% 36.5%, center center, 0 0;
        }
      }
    }

    .hero-text {
      width: 100%;
      height: 90vh;

      position: absolute;
      top: 10vh;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .text {
        margin-top: 2.5vh;

        text-align: center;

        h1 {
          width: 80vw;
          font-size: MIN(12vh, 12vw, 120px);
          font-family: 'UnifrakturCook';
          color: var(--orange);
          text-shadow: 1px 1px 0px black, -1px -1px 0px black;
        }

        p {
          font-size: MIN(5vh, 5vw, 50px);
          font-family: 'Cinzel';
          font-weight: 400;
          color: white;
          text-shadow: 1px 1px 0px black;
        }
      }

      .img {
        width: MIN(20vh, 20vw);

        display: none;
        img {
          animation: arrow-down 4s linear infinite;
        }

        @keyframes arrow-down {
          0% {
            opacity: 0;
            transform: translateY(-100%);
          }

          30% {
            opacity: 1;
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .home-article {
    .hero-container {
      .hero-text {
        .img {
          display: block;
        }
      }
    }
  }
}
