.home-article {
  z-index: 1;

  width: 100%;
  height: 100vw;

  display: block;

  .hero-container {
    width: 100%;
    height: 100%;
    .hero-image {
      .images {
        width: 100%;
        height: 100vw;

        margin-top: 10vh;
        background-image: url('../../assets/images/front.png'),
          url('../../assets/images/test.png'),
          url('../../assets/images/back.png'),
          url('../../assets/images/sky.png');
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: cover, 10%, cover, 350%;
        background-position: center center, 79% 35%, center center, 0 0;

        animation: hero-image 40s linear infinite;
      }

      @keyframes hero-image {
        0% {
          background-position: center center, 79% 36%, center center, -175vw 0;
        }
        50% {
          background-position: center center, 0% 42%, center center, -87.5vw 0;
        }
        100% {
          background-position: center center, 79% 36%, center center, 0 0;
        }
      }
    }

    .hero-text {
      width: 100%;
      height: 90vh;

      position: absolute;
      top: 10vh;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .text {
        margin-top: 2.5vh;

        text-align: center;

        h1 {
          width: 90vw;
          font-size: MIN(10vh, 10vw, 60px);
          font-family: 'Cinzel Decorative';
          color: var(--cream);
          text-shadow: 3px 3px 2px var(--brown);
        }

        p {
          font-size: MIN(5vh, 5vw, 30px);
          font-weight: bold;
          color: white;
          text-shadow: 1px 1px 2px black;
        }
      }

      .img {
        width: MIN(20vh, 20vw);

        display: none;
        img {
          animation: arrow-down 4s linear infinite;
        }

        @keyframes arrow-down {
          0% {
            opacity: 0;
            transform: translateY(-100%);
          }

          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .home-article {
    .hero-container {
      .hero-text {
        .img {
          display: block;
        }
      }
    }
  }
}
