:root {
  --orange: #ea863b;
  --shade-orange: #bc5a1d;
  --brown: #7d4122;
  --shade-brown: #391f16;
  --cream: #f5d38d;
  font-size: clamp(18px, 2.2vw, 30px);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--cream);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Cinzel';
  overflow-x: hidden;
  /* LOADER -------> */
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

#charging-screen {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c2f33;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#charging-screen .lds-circle {
  display: inline-block;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}

#charging-screen .lds-circle div {
  display: inline-block;
  width: MIN(20vh, 20vw);
  height: MIN(20vh, 20vw);
  margin: 8px;
  border-radius: 50%;
  -webkit-animation: lds-circle 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-circle 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@-webkit-keyframes lds-circle {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

@keyframes lds-circle {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

#charging-screen h3 {
  margin-top: MIN(2vh, 2vw);
  color: white;
  font-size: MIN(2.5vh, 2.5vw);
  font-family: sans-serif;
}

.header {
  z-index: 999;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--brown);
}

.header .logo {
  width: 7vh;
  height: 7vh;
  margin: 1.5vh;
}

.header .nav {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: transparent;
  top: 0vh;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: background-color 0.15s linear, -webkit-transform 0s 0.26s linear;
  transition: background-color 0.15s linear, -webkit-transform 0s 0.26s linear;
  transition: transform 0s 0.26s linear, background-color 0.15s linear;
  transition: transform 0s 0.26s linear, background-color 0.15s linear, -webkit-transform 0s 0.26s linear;
  overflow: hidden;
}

.header .nav .nav__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(210px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}

.header .nav .nav__content a {
  width: 100%;
  display: block;
  padding: 1rem 0;
  border-bottom: 0.2rem solid var(--brown);
  background-color: var(--shade-brown);
  font-size: 1.5rem;
  color: var(--cream);
  text-align: center;
  font-weight: bold;
}

.header .buttom {
  width: 6vh;
  height: 6vh;
  position: relative;
  margin: 2vh;
}

.header .buttom [class^='item'] {
  width: 100%;
  height: 20%;
  position: absolute;
  background-color: var(--cream);
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}

.header .buttom .item-1 {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.header .buttom .item-2 {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.header .buttom .item-3 {
  -webkit-transform: translateY(400%);
          transform: translateY(400%);
}

.headerClick .nav {
  background-color: var(--brown);
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
  -webkit-transition: background-color 0.25s 0.25s linear, -webkit-transform 0s 0s linear;
  transition: background-color 0.25s 0.25s linear, -webkit-transform 0s 0s linear;
  transition: transform 0s 0s linear, background-color 0.25s 0.25s linear;
  transition: transform 0s 0s linear, background-color 0.25s 0.25s linear, -webkit-transform 0s 0s linear;
}

.headerClick .nav .nav__content {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.headerClick .buttom .item-1 {
  -webkit-transform: translateY(200%) rotate(45deg);
          transform: translateY(200%) rotate(45deg);
}

.headerClick .buttom .item-2 {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  opacity: 0;
}

.headerClick .buttom .item-3 {
  -webkit-transform: translateY(200%) rotate(-45deg);
          transform: translateY(200%) rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .header .nav {
    width: calc(100% - 20vh);
    height: 10vh;
    position: relative;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: background-color 0s linear, -webkit-transform 0s 0s linear;
    transition: background-color 0s linear, -webkit-transform 0s 0s linear;
    transition: transform 0s 0s linear, background-color 0s linear;
    transition: transform 0s 0s linear, background-color 0s linear, -webkit-transform 0s 0s linear;
  }
  .header .nav .nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0s linear;
    transition: -webkit-transform 0s linear;
    transition: transform 0s linear;
    transition: transform 0s linear, -webkit-transform 0s linear;
  }
  .header .nav .nav__content a {
    width: auto;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.5rem;
    border: none;
    background-color: var(--brown);
    font-size: 1.5rem;
    color: var(--cream);
    text-align: center;
    font-weight: bold;
  }
  .header .buttom {
    visibility: hidden;
  }
}

.home-article {
  z-index: 1;
  width: 100%;
  height: 100vw;
  display: block;
}

.home-article .hero-container {
  width: 100%;
  height: 100%;
}

.home-article .hero-container .hero-image .images {
  width: 100%;
  height: 100vw;
  margin-top: 10vh;
  background-image: url("../../assets/images/front.png"), url("../../assets/images/test.png"), url("../../assets/images/back.png"), url("../../assets/images/sky.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: cover, 10%, cover, 350%;
  background-position: center center, 79% 35%, center center, 0 0;
  -webkit-animation: hero-image 40s linear infinite;
          animation: hero-image 40s linear infinite;
}

@-webkit-keyframes hero-image {
  0% {
    background-position: center center, 79% 36%, center center, -175vw 0;
  }
  50% {
    background-position: center center, 0% 42%, center center, -87.5vw 0;
  }
  100% {
    background-position: center center, 79% 36%, center center, 0 0;
  }
}

@keyframes hero-image {
  0% {
    background-position: center center, 79% 36%, center center, -175vw 0;
  }
  50% {
    background-position: center center, 0% 42%, center center, -87.5vw 0;
  }
  100% {
    background-position: center center, 79% 36%, center center, 0 0;
  }
}

.home-article .hero-container .hero-text {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-article .hero-container .hero-text .text {
  margin-top: 2.5vh;
  text-align: center;
}

.home-article .hero-container .hero-text .text h1 {
  width: 90vw;
  font-size: MIN(10vh, 10vw, 60px);
  font-family: 'Cinzel Decorative';
  color: var(--cream);
  text-shadow: 3px 3px 2px var(--brown);
}

.home-article .hero-container .hero-text .text p {
  font-size: MIN(5vh, 5vw, 30px);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.home-article .hero-container .hero-text .img {
  width: MIN(20vh, 20vw);
  display: none;
}

.home-article .hero-container .hero-text .img img {
  -webkit-animation: arrow-down 4s linear infinite;
          animation: arrow-down 4s linear infinite;
}

@-webkit-keyframes arrow-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (orientation: landscape) {
  .home-article .hero-container .hero-text .img {
    display: block;
  }
}
/*# sourceMappingURL=index.css.map */