#charging-screen {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #2c2f33;

  position: fixed;
  top: 0;

  z-index: 1000;

  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
    div {
      display: inline-block;
      width: MIN(20vh, 20vw);
      height: MIN(20vh, 20vw);
      margin: 8px;
      border-radius: 50%;
      animation: lds-circle 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;

      @keyframes lds-circle {
        0%,
        100% {
          animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
        }
        0% {
          transform: rotateY(0deg);
        }
        50% {
          transform: rotateY(1800deg);
          animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
        }
        100% {
          transform: rotateY(3600deg);
        }
      }
    }
  }

  h3 {
    margin-top: MIN(2vh, 2vw);
    color: var(--orange);
    font-size: MIN(2.5vh, 2.5vw);
    font-family: sans-serif;
  }
}
