.header {
  z-index: 999;
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  background-color: var(--brown);

  .logo {
    width: 7vh;
    height: 7vh;

    margin: 1.5vh;
  }

  .nav {
    width: 100%;
    height: auto;
    position: absolute;

    background-color: transparent;
    top: 0vh;

    transform: translateY(-100%);
    transition: transform 0s 0.26s linear, background-color 0.15s linear;

    overflow: hidden;
    .nav__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));

      transform: translateY(-100%);
      transition: transform 0.25s linear;

      a {
        width: 100%;

        display: block;

        padding: 1rem 0;

        border-bottom: 0.2rem solid var(--brown);
        background-color: var(--shade-brown);

        font-size: 1rem;
        font-family: 'Cinzel';
        color: var(--cream);
        text-align: center;
        font-weight: bold;

        &:hover {
          background-color: var(--orange);
        }
      }
    }
  }

  .buttom {
    width: 6vh;
    height: 6vh;

    position: relative;
    margin: 2vh;

    [class^='item'] {
      width: 100%;
      height: 20%;

      position: absolute;
      background-color: var(--orange);
      border-radius: 1rem;

      transition: transform 0.25s linear;
    }

    .item-1 {
      transform: translateY(0%);
    }

    .item-2 {
      transform: translateY(200%);
      transition: opacity 0.25s linear;
    }

    .item-3 {
      transform: translateY(400%);
    }
  }
}

.headerClick {
  .nav {
    background-color: var(--brown);

    transform: translateY(10vh);
    transition: transform 0s 0s linear, background-color 0.25s 0.25s linear;

    .nav__content {
      transform: translateY(0%);
    }
  }
  .buttom {
    .item-1 {
      transform: translateY(200%) rotate(45deg);
    }

    .item-2 {
      transform: translateY(200%);
      opacity: 0;
    }

    .item-3 {
      transform: translateY(200%) rotate(-45deg);
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    .nav {
      width: calc(100% - 20vh);
      height: 10vh;
      position: relative;

      transform: translateY(0);
      transition: transform 0s 0s linear, background-color 0s linear;

      .nav__content {
        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateY(0);
        transition: transform 0s linear;

        a {
          width: auto;
          height: 10vh;

          display: flex;
          align-items: center;

          padding: 0 1.5rem;

          border: none;
          background-color: var(--brown);
        }
      }
    }
    .buttom {
      visibility: hidden;
    }
  }
}
